<% include partials/header %>
<div class="center_css">
	<% if(errors != undefined){ %>
		<ul color='red'>
		<% errors.forEach(function(error){ %>
			<li><%= error.msg %></li>
		<% }) %>
		</ul>
	<% } %>
	<% if(yes_aded == 1){ %>
		Video uploaded successfully!
	<% } %>
	<form action="/upload" method="POST" enctype="multipart/form-data">
		<table>
			<tr>
				<td><label>Movie Title</label></td>
				<td><input type="text" name="title" maxlength="50" size="52"></td>
			</tr>
			<tr>
				<td valign="top" paddig="20"><label>Description</label></td>
				<td><textarea name="description" cols="53" rows="5" maxlength="400" ></textarea></td>
			</tr>
			<tr>
				<td><label>Select File</label></td>
				<td><input type="file" name="upl"></td> 
			</tr>
			<tr>
				<td colspan="2"><label>File restrictions: video/mp4. Max sixe = 50Mb</label></td>
			</tr>
		</table>
		<input type="submit" name="Add">
	</form>
</div>
<% include partials/footer %>